@import '../../../styles/mixins';

.nav-menu {
    justify-self: flex-start;
    position: fixed;
    z-index: 9999;
    margin-left: 20px;
    
    .navbar-links {
 
        .icon {
            font-size: 22px;          
        }
        
        .link {
            @include icons;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            transition: linear 0.4s;

            &:hover {
                width:100%;

                span {
                    display: inline-block;
                    margin-left: 15px;
                }
            }
            
            span {
                display: none;
            }
        }     
    }
    
    .navbar-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        background-color: #0B1D26;

        .navbar-desktop {
            display: none;
        }

        .navbar-mobile {
            top:0;
            right: 0;
            display: block;
            z-index: 9998;
            font-size: 1.5rem;
            transition: all 0.4s;
            outline: none !important;
            cursor: pointer;
            overflow: hidden;

            .navbar-nav {
                background-color: #0B1D26;
                height: 100vh;
                display: flex;
                justify-content: center;

                .nav-link {
                    color: #fff;
                }
            }
        }
    }
}