.intro {
    padding:  40px;

    img {
        width: 16px;
        height: 24px;
        fill: #fbd784;
    }
}

@media (max-width: 768px) {
    .intro {
        font-size: 1em;
        padding: 0;
    }
}