.image {
    width: 190px;
    height: 190px;
    filter: opacity(0.8);
}

.intro {
    font-size: 1.5em;
        
    .arrow {
        color: #0563bb;
        font-size: 20px;
        padding-right: 2px;
        margin-right: 6px;
    }
}

@media (max-width: 767px) {
    .intro {
        font-size: 1em;
    }
}