.image {
    width: 15%;
    height: auto;
    filter: opacity(0.8);
}

.intro {
    font-size: 26px;
        
    .arrow {
        color: #0563bb;
        font-size: 20px;
        padding-right: 2px;
        margin-right: 6px;
    }
}