@import '../../../styles/mixins';

#contact {
   padding: 0 20px 30px;
   margin-bottom: 0;
   position: relative;
   
    .footer {
        justify-content:space-between;
    }

    .icons {
        @include icons;
        background-color: rgba(255,255,255, 0.1);
        color: #fbd784;
        overflow: visible;
    }

    .back-to-top {
        position: absolute;
        bottom: 30px;
        right: 10px;
        background-color: rgba(255,255,255, 0.1);
        color: #fbd784;
        padding: 10px 18px;
        margin-bottom: 8px;
        border-radius: 50px;
        border: none;
        height: 56px;
        width: 56px;
    }
}

@media (max-width: 768px) {

    .footer-icons {
        width: 100%;
    }
}